#bigDiv {
  z-index: 5004;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  color: #aaaaaa;
  opacity: 1;
}

.form-popup {
  position: absolute;
  top: 2%;
  left: 530px;
  border: 5px solid #f1f1f1;
  z-index: 5001;
  max-width: 600px;
}

.form-popup h4 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 8px;
  padding-left: 15px;
}

.form-container {
  border-radius: 10px;
  height: 670px;
  max-height: 700px;
  padding: 10px;
  background-color: #fff;
}

#name {
  width: 49%;
  margin-right: 2%;
  float: left;
}

#surname {
  width: 49%;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
textarea,
select {
  border-radius: 7px;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="checkbox"] {
  margin-left: 1px;
  margin-right: 9px;
  margin-top: 4.5px;
  border-radius: 7px;
  float: left;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #032161;
  border: 1px solid #032161;
  border-radius: 0px;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  width: 50%;
  float: right;
}

.form-container .cancel {
  background-color: #fff;
  color: #032161;
}
